body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: red;
}
.header {
font-family: Palatino, 'Palatino Linotype', serif;
color: 000CC;
}
.ourlinks {
background-image: url("http://boombob.ru/img/picture/Apr/20/f8c29ac29c4f9bf85fe44bbcfef09ef9/1.jpg");
font-size: 40px;
width : 100%;
text-align: center;
} 

.crew {
font-size: 25px;
color: FF00FF;
text-align: right;
}